<form>
    <div class="form-group">
      <label for="taskName">Task Name</label>
      <input ngModel name="taskName" #taskName="ngModel" type="text" id="taskName" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addTask(taskName)">Submit</button>
  </form>
  
  
  <div class="example-container">
    <h2>To do</h2>
  
    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="tasksToDo"
      [cdkDropListConnectedTo]="[doneList, inProgressList]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of tasksToDo" cdkDrag>{{item}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>In Progress</h2>
  
    <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="tasksInProgress"
      [cdkDropListConnectedTo]="[doneList, todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of tasksInProgress" cdkDrag>{{item}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Done</h2>
  
    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="tasksDone"
      [cdkDropListConnectedTo]="[todoList, inProgressList]" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of tasksDone" cdkDrag>{{item}}</div>
    </div>
  </div>
  