body {
    background: lightgray;
}


.empty {
    display: inline-block;
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 3px;
}

.fill {
    font-size: large;
    color: white;
    position: relative;
    text-align: center; 
} 